html {    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tavern { 
    /* The image used */
    background-image: url("TavernP1.jpg");
}
.fakeHall{ 
    /* The image used */
    background-image: url("oldCellar.jpg");
}
.god{ 
    /* The image used */
    background-image: url("ummGod.jpg");
}

.champion{
    text-align: center;
}
.champion img {
    position: absolute;
    bottom: 0px;
}
.p1text{
    max-width: 700px;
    font-size: 40px;
    font-family: fantasy;
    color: black;
    -webkit-text-stroke-width:.9px;
    -webkit-text-stroke-color:white;          
}

.p1text a {
    -webkit-text-stroke-width:.6px;
    -webkit-text-stroke-color:white;
}
.Fight{
    /* The image used */
    background-image: url("hel.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mk{
    
    max-width: 900px;
    font-size: 50px;
    font-family: fantasy;
    color: white;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color: black; 
    background: rgba( 255, 255, 255, .4);
    padding: 10px;
    margin:0 auto
}
.walkDie{
    /* The image used */
    background-image: url("lava.jpg");
}
.walkDie{
    max-width: 700px;
    font-size: 40px;
    font-family: fantasy;
    color: black;
    -webkit-text-stroke-width:.9px;
    -webkit-text-stroke-color:white;
}
.killAll{
    /* The image used */
    background-image: url("dead.jpg");
}
.killTxt{
     max-width: 700px;
    font-size: 40px;
    font-family: fantasy;
    color: black;
    -webkit-text-stroke-width:.9px;
    -webkit-text-stroke-color:white;
}
