.tavern { 
    /* The image used */
    background-image: url("TavernP1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fakeHall{ 
    /* The image used */
    background-image: url("oldCellar.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.champion{
    text-align: center;
}
.champion img {
    position: absolute;
    bottom: 0px;
}
.p1text{
    max-width: 700px;
    font-size: 40px;
    font-family: fantasy;
    color: black;
    -webkit-text-stroke-width:.9px;
    -webkit-text-stroke-color:white;          
}

.p1text a {
    -webkit-text-stroke-width:.6px;
    -webkit-text-stroke-color:white;
}
